<template>
   <header>
       <div class="page-navbar navbar navbar-expand-md fixed-top">
            <a href="http://ec2-3-113-34-52.ap-northeast-1.compute.amazonaws.com/" class='brand navbar-brand'>
                <img class='brand-icon' src=".\img\masking-icon.png" alt="Icon" width="30" height="30" loading="lazy">
                <img class ='brand-name-logo' src=".\img\masking_title.png" alt="brand" width="300" height="auto" loading="lazy">
            </a>    
       </div>
   </header>
</template>
<style>
    *{
        box-sizing: border-box;
    }
    .page-navbar{
        background-color: #fff;
        padding:4px;
        border-bottom: 1px solid #dadce0;
        box-shadow: 0 0.5px 0 0 rgba(65,69,73,.15);
        font-family: Noto Sans, sans-serif;
        font-weight: 400;
        line-height: 1.6;
        text-align: left;
    }
    .page-navbar .brand{
        background-color: inherit;
        height: 100%;
        text-decoration: none;
        color:#fff;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    a:not(.md-button){
        transition: .3s cubic-bezier(.25,.8,.25,1);

    }
    .navbar-brand{
        padding-top: .32rem;
        padding-bottom: .32rem;
        margin-right: 1rem;
        font-size: 1.125 rem;
        line-height: inherit;
        white-space: nowrap;
    }
    .page-navbar .brand .brand-icon{
        width: 50px;
        height: 50px;
        border: 0 solid #dadce0;
        margin: 8px 4px 8px 16px;
    }
    .fixed-bottom, .fixed-top{
        position: fixed;
        right:0;
        left:0;
        z-index: 1030;
    }
    .fixed-top{

      top:0;
    }
    .navbar{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

    }
    .d-inline-block{
        display: inline-block!important;
    }
    .align-top{
        vertical-align: top!important;
    }
    .img:not(.md-image){
        height: auto;
    }
    img{
        border-style: none;
        max-width: 100%;
        font-style: italic;
    }
    
    .navibar{
        background-color: #ffff;
        padding: 4px;
        border-bottom: 1px solid #dadce0;
        box-shadow: 0 0.5px 0 0 rgba(65,69,73,.15);
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-between;
    }
  



</style>