<template>
    <div class="main">
      
      <div class="container" >
      <div class="project-input">
                <input v-model="pjname" type="text" id="namepr" class="project-name" placeholder="Project Name">
                 <div class="pcount">0 / 100</div>
      </div>
      <div class="project-description">
              <textarea v-model="despj" name="Desproject" id="txtdes" class="des-textarea" cols="30" rows="10" placeholder="Project Description"></textarea>
              <div class="dcount">0 / 500</div>
      </div>
      <div class="option-button">
          <button class="button" name="canclebtn">CANCLE</button>
          <button  v-on:click ="sendMessageToParent" class="button"  style="background-color:rgba(191,191,191, 1)" name="createbtn">CREATE</button>
      </div>  
      </div>



    </div>
</template>

<script>


// import CardVue from './Card.vue'
// import ProjectListVue from './ProjectList.vue'
    
export default {
 name:'NewProject',
  data(){
    return {pjname:"", despj:""}
 },
 methods:{
   sendMessageToParent(){
     this.$root.$emit('create_card',this.pjname,this.despj);
     console.log('Message 1 goi di');
   }
 }
  }
  


</script>

<style>
*{
  box-sizing: border-box;

}
.main{
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: .01em;
   position: relative;
}
.container{
   margin-bottom: 50px;
   margin-top: 60px;
   align-items: center ;
   width : 600px;
   height: 350px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   display:flex;
   flex-direction: column;
   border-radius: 5px;
   border-color: transparent;
}
.project-input{
   margin-top: 40px;
   margin-bottom: 10px;
   width: 90%;
   
}
input:focus {
  outline-width: 1px;
  outline-style: none;
}

.project-input .project-name{
   margin-bottom:10px;
   width:100%;
   font-size: 16px;
   height:35px;
   border: none;
   border-bottom: 1px solid #ccc;
  
}

.project-input .project-name:focus{
  border-bottom: 3px solid blue;
}

.project-description {
  margin-bottom: 10px;
  width: 90%;
}
.project-description .des-textarea{
  margin-bottom: 10px;
  width:100%;
  font-size: 16px;
  border-radius: 3px;
  display: flex;
  height: 120px;
  overflow: auto;
  cursor:text;
  flex-direction: column;
  font-family: "Noto Sans",sans-serif;
  border-width: 2px;
  transform:none;
  top:0;
  bottom:0;
  content: " ";
  resize:none;
  outline:none;
  border: 1px solid black;
}
.project-description .des-textarea:focus{
  outline-width: 1px; 
  outline-style:solid ;
  outline-color: blue;

}
.pcount{
  text-align: right;
  font-size: 12px;
}
.dcount{
  text-align: right;
  font-size: 12px;
}
.option-button{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  margin: 15px;
  width:88px;
  height:36px;
  border:none;
  cursor:pointer;
  margin-left:0;
  background-color: white;
}

</style>