<template>
  <div class="project-list">
    <div class="index">
    <strong class="name-index"> All Projects </strong>
    <hr>
    </div >
         
            <Card v-bind:abc= "i"
            v-for = "(i, index) in listCard" 
            v-bind:key= "index"/>
  </div>
</template>

<script>

import Card from './Card.vue'
export default {
    name: 'ProjectList',
    components: {
      Card,
    },
    data(){
      return{
        listCard:[], 
    
      }
    },
    mounted(){
      this.$root.$on('create_card',(prjname, despj) => {
        console.log('Message 2 nhan lai', prjname, despj);
       this.listCard.push({prjname:prjname, despj:despj});
      });
    }
}
</script>

<style>
*{
  box-sizing: border-box;
}
.project-list{
   height:100%;
   width:100%;
   display:flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   text-align: left;
   font-weight: bold;
}
.index{
  width: 100%;
  margin-bottom: 10px;
  justify-content: flex-start;
  margin: 20px;
  
}
.name-index{
  color:#5f6368;
  opacity:0.8;
  font-size: 13px;
  font-weight: 600;
  
}
hr{
  margin-top: 0.25rem !important;
  
  border:0;
  border-top: 1px solid rgba(0,0,0,0.1);
  box-sizing:content-box;
  height: 0;
  overflow:visible;
}
</style>