<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <title>Insight Data Masking</title>
  
  </head>
  <body style="overflow-x:hidden">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <style>
    html{
      background-color: #fafafa;
      color:rgba(0,0,0,0,0.87);
      height: 100%;
      box-sizing: border-box;
      transition: background-color .3s cubic-bezier(.25,.8,.25,1);
    }
    *{
      box-sizing: border-box;
    }
    body{
      padding:0;
      margin:0;
      font-family: "Noto Sans JP", sans-serif;
      font-size:0.9rem;
      font-weight: 400;
      line-height: 1.6;
      color: #212529;
      text-align: left;
      background-color: white;
    }
    /* html .md-theme-default{
      background-color: #fafafa;
      color:rbga(0,0,0,0.87);
    }
    .md-field--modify-height{
      min-height: 40px;
      height: 45px;
      padding-top: 5px;
      margin-top: 0px;
    }
    textarea::-webkit-scrollbar-thumb{
      background:#888;
    }
    textarea:-webkit-scrollbar-track{
      background:#f1f1f1;
    }
 
input:focus{
  outline: none;
}
.text-input__static{
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
}
.text-input__input{
  width:100%;
  box-sizing: border-box;
}
.table-no-record{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0;
  border-top: 1px solid rgba(0,0,0,0,0.1);
}
.table-no-record__text{
  margin: 1em 0;
  font-size: 16px;
  line-height: 24px;
  color: #6e6e6e;
}
span{
  color: #c8cbcf;
}
.editing-popup{
   position: relative;
   display: inline-block;
   cursor:pointer;
}
.editing-popup pre{
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  white-space: pre-wrap;
}
.popup-content{
  display: none;
}
.popup-content-editing{
  display:block;
  position:absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rbga(0, 0, 0, 0.2);
  z-index:99999;
  top:0;
  bottom:0;
  left: 0;
  margin:0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.md-field--modify-height input{
  font-size: 0.9rem !important;
}
.md-error--custom{
  color:var(--md-theme-default-fieldvariant, #ff1744);
} */
  </style>
</html>


