<template>
  <div id="app">
    <Header/>
    <NewProject/>
    <ProjectList/>
  </div>
</template>

<script>
import ProjectList from './components/ProjectList.vue'
import Header from './components/Header.vue'
import NewProject from './components/NewProject.vue'
export default {
  name: 'App',
  components: {
    Header,
    NewProject,
    ProjectList
  }
}
</script>

<style>
#app {
  font-family: "Noto Sans" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
element.style{
  overflow-x:hidden;
}
</style>
